%h1 Welcome to Ruby Bench
%p Please select a runner and a benchmark to see average scores over time.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading Select a runner and benchmark
      .panel-body
        = form_for :runner, :method => :get, remote: true do |f|
          = f.select :id, @runners.map{|r| ["#{r.name} (#{r.hardware})", r.id]}
          = f.select :benchmark, @benchmarks.map{|b| [b, b]}
          = f.submit :value => "Display", :class => "btn btn-primary"

%canvas#chart{ :height => "450", :width => "1100"}
